header{
    background-color: blue;
}
main {
    background-color: cornflowerblue;
}
aside {
    background-color: aquamarine;
}
footer {
    background-color: cyan;
}

.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 1rem;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "principal principal lado"
    "pie pie pie"
    ;
}
header {
    grid-area: cabeza;
}
main {
    grid-area: principal;
}
aside {
    grid-area: lado;
    /* grid-area: 1 / 2 / 3 / 4; */
}
footer {
    grid-area: pie;
}

svg {
    width: 50%;
}
h1, p {
    padding: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.borde {
    border-radius: 10px 10px 10px 10px;
}