@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://unpkg.com/@uiw/reset.css/reset.css');

h1{
    font-family: "Bungee Tint", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header{
    background-color: blue;
}
main {
    background-color: cornflowerblue;
}
aside {
    background-color: aquamarine;
}
footer {
    background-color: cyan;
}

/* Diseño responsivo con media queries, movile */
@media (max-width: 600px) {
    /* body {
      background: rgb(255, 0, 162);
    } */
    #container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
    }
  }

  /* Diseño responsivo con media queries, tablet para arriba */
  @media (min-width: 600px) {
    /* body {
      background: green;
    } */

    #container {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
        grid-template-areas: 
        "cabeza cabeza cabeza"
        "principal principal lado"
        "pie pie pie"
        ;
    }
    header {
        grid-area: cabeza;
    }
    main {
        grid-area: principal;
    }
    aside {
        grid-area: lado;
        /* grid-area: 1 / 2 / 3 / 4; */
    }
    footer {
        grid-area: pie;
    }

  }  